@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url(https://cadenaser00.epimg.net/ser/imagenes/2015/04/08/ciencia/1428487740_322357_1428489508_noticia_normal.jpg);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
}
.contenedor {
    text-align: left;
  color:red;
    
  }