@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome%7Ctypicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url(https://wallpapershome.com/images/pages/pic_h/23214.jpg);
        background-size: 140vw 100vh;
        background-repeat: no-repeat;
}
.contenedor {
    text-align: left;
  color:rgb(28, 164, 206);


  }

.fondoletra {
    text-align: left;
  color:rgb(28, 164, 206);
}


.otrasletras {
    text-align: left;
  color:rgb(28, 164, 206);
}