@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;

}
body {
  background: url(https://media.discordapp.net/attachments/603742649106694182/849819690125230080/27365_1.jpg?width=794&height=670);
		background-size: cover;
		background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
 
  
}
.header{
    
z-index: 1;

}
.lol{ 
    color: chartreuse;
  }

.clima{
  color:lime;
  text-align: right;
}

#botonarriba{
  position: fixed;
  bottom: 40px;
  right: -100px;
  width: 100px;
  transition: all 1s;
}

.infocharacters{
 margin-top:  200px;
color: lime;
letter-spacing:normal;
}
.paginacion{
  margin-top:100px;
}
.koks{
  align-self: flex-end;
  line-height:3;
  width: 100;
  display: block;
  
}
